<%- include('includes/head')%>
<%- include('includes/nav')%>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-5">
      <h1 class="text-center">Notas</h1>
      <p class="text-center lead">Seus lembretes seguem abaixo</p>

      <%- include('includes/messages') %>

      <% if(lembretes.length > 0) { %>
        <% lembretes.forEach(lembrete => { %>
          <div class="responsive-table">
            <table class="table my-3">
              <tr>
                <td><%= lembrete %></td>
              </tr>
            </table>
          </div>
        <% }) %>  
      <% } %>
      
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer')%>
    